/* Estilo general */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b9a69d;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Secciones */
section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #d6c3c3;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Encabezados */
h1, h2, h3 {
    color: #2c3e50;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 30px;
}

/* Párrafos */
p {
    text-align: justify;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

/* Lista de hobbies */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Imágenes */
img {
    width: 350px;
    height: auto;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    
    /* Aquí empieza la transición */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al pasar el mouse */
img:hover {
    transform: scale(1.05);  /* agranda un poco la imagen */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* sombra más intensa */
}



/* Enlace */
a {
    text-decoration: none;
    font-weight: bold;
    color: #2980b9;
}

a:hover {
    color: #5dc5b0;
}
